In [1]:
import sqlite3

In [2]:
conn =sqlite3.connect('db.sqlite3')

In [3]:
conn.execute('create table cars(id integer primary key, title text, ports text, year text)')

In [4]:
conn.commit()

In [5]:
car = {'title': 'Gol 2011 Completo', 'ports': '4 portas', 'year': '2010/2011'}

In [6]:
car

{'ports': '4 portas', 'title': 'Gol 2011 Completo', 'year': '2010/2011'}

In [8]:
conn.execute('insert into cars (title, ports, year) values (:title, :ports, :year)', car)

In [9]:
conn.commit()

In [10]:
result = conn.execute('select * from cars')

In [12]:
for car in result:
    print (car)

(1, 'Gol 2011 Completo', '4 portas', '2010/2011')

In [14]:
test = conn.execute('select name from sqlite_master where type = "table" and name = "cars"')

In [15]:
test

In [16]:
next(test)

('cars',)